certifi==2021.5.30
cryptography==3.4.7
google-api-core==1.30.0
google-api-python-client==2.11.0
google-auth==1.32.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
httplib2==0.19.1
pyodbc==4.0.0-unsupported
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.25.1
rsa==4.7.2
urllib3==1.26.6
